node-red-flow/flows.json
[{"id":"95f9deea.34dd2","type":"tab","label":"Deneme Tesis","disabled":false,"info":""},{"id":"f05c864a.df3318","type":"s7 endpoint","z":"95f9deea.34dd2","transport":"iso-on-tcp","address":"192.168.0.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB1,B27","name":"aritmaMotor0Durum"},{"addr":"DB1,B28","name":"aritmaMotor1Durum"},{"addr":"DB1,B29","name":"aritmaMotor2Durum"},{"addr":"DB1,B14","name":"tesisDurumu"},{"addr":"DB1,B30","name":"kuyuMotorDurum"},{"addr":"DB1,B35","name":"hamsuDepoSeviye"},{"addr":"DB1,B34","name":"temizsuDepoSeviye"},{"addr":"DB1,S38.12*","name":"tesisAdi"},{"addr":"DB1,W32","name":"tesisDurumuKalanSure"},{"addr":"DB1,B36","name":"arizaDurumu"}]},{"id":"edb97f0a.5aae4","type":"firebase admin","z":"","name":"Firebase Config"},{"id":"fbeb3331.07b7a","type":"fcm-push","z":"95f9deea.34dd2","name":"","x":1170,"y":480,"wires":[]},{"id":"27f65c9b.6b37c4","type":"function","z":"95f9deea.34dd2","name":"","func":"msg.payload = {\n        \"to\":\"/topics/allDevices\",\n        \"data\":{\n            \"title\":\"Deneme Arıtma\",\n            \"message\":\"Motor 0 arızalandı! Konrol ediniz!\" \n        }\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":440,"wires":[["fbeb3331.07b7a"]]},{"id":"fb8c439f.06a52","type":"function","z":"95f9deea.34dd2","name":"","func":"msg.payload = {\n        \"to\":\"/topics/allDevices\",\n        \"data\":{\n            \"title\":\"Deneme Arıtma\",\n            \"message\":\"Motor 2 arızalandı! Konrol ediniz!\" \n        }\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":520,"wires":[["fbeb3331.07b7a"]]},{"id":"36ed01cf.c785be","type":"firebase out","z":"95f9deea.34dd2","name":"","ref":"Tesis Verileri/Deneme Tesis","operation":"set","admin":"edb97f0a.5aae4","x":740,"y":380,"wires":[[]]},{"id":"b048caaf.5a6a88","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.tesisDurumu","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":330,"y":80,"wires":[["eb1b1bf3.38c4b8"],["68766272.3e874c"],["5f0f46d2.9559e8"],["d81d1643.cc6d18"]]},{"id":"68766272.3e874c","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.tesisDurumu","pt":"msg","to":"Arıtma Yapılıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":40,"wires":[["a3042325.27444"]]},{"id":"5f0f46d2.9559e8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.tesisDurumu","pt":"msg","to":"Ters Yıkama Yapılıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[["a3042325.27444"]]},{"id":"d81d1643.cc6d18","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.tesisDurumu","pt":"msg","to":"Durulama Yapılıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["a3042325.27444"]]},{"id":"a3042325.27444","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.aritmaMotor0Durum","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":770,"y":80,"wires":[["8ea41cb9.d362f"],["ac72336b.55bda"],["caaf1851.008368","50754c84.514244"]]},{"id":"8ea41cb9.d362f","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor0Durum","pt":"msg","to":"Hazır","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":40,"wires":[["69833cb6.ccd684"]]},{"id":"ac72336b.55bda","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor0Durum","pt":"msg","to":"Çalışıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":80,"wires":[["69833cb6.ccd684"]]},{"id":"caaf1851.008368","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor0Durum","pt":"msg","to":"Arızalı","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":120,"wires":[["69833cb6.ccd684"]]},{"id":"69833cb6.ccd684","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.aritmaMotor1Durum","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":90,"y":220,"wires":[["d65ab24d.f0ded"],["a28ae87d.84cc98"],["6a637912.427768","25d25c19.308804"]]},{"id":"d65ab24d.f0ded","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor1Durum","pt":"msg","to":"Hazır","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["6a39d081.602a1"]]},{"id":"a28ae87d.84cc98","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor1Durum","pt":"msg","to":"Çalışıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["6a39d081.602a1"]]},{"id":"6a637912.427768","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor1Durum","pt":"msg","to":"Arızalı","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["6a39d081.602a1"]]},{"id":"6a39d081.602a1","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.aritmaMotor2Durum","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":570,"y":220,"wires":[["4d4ba69a.d4d2c8"],["db45a4eb.ff6778"],["f53340c7.86efe","d83804b0.88d968"]]},{"id":"4d4ba69a.d4d2c8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor2Durum","pt":"msg","to":"Hazır","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[["c8477a43.7391c8"]]},{"id":"db45a4eb.ff6778","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor2Durum","pt":"msg","to":"Çalışıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["c8477a43.7391c8"]]},{"id":"f53340c7.86efe","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.aritmaMotor2Durum","pt":"msg","to":"Arızalı","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["c8477a43.7391c8"]]},{"id":"c8477a43.7391c8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.durumKalanSure","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":180,"wires":[["21f4a40b.cf43bc"]]},{"id":"f9963faf.5a401","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.kuyuMotorDurum","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":90,"y":360,"wires":[["b0570c83.000d3"],["d9ae1721.045368"],["ce4d054f.9a0738"]]},{"id":"b0570c83.000d3","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.kuyuMotorDurum","pt":"msg","to":"Hazır","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["36ed01cf.c785be"]]},{"id":"d9ae1721.045368","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.kuyuMotorDurum","pt":"msg","to":"Çalışıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["36ed01cf.c785be"]]},{"id":"ce4d054f.9a0738","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.kuyuMotorDurum","pt":"msg","to":"Arızalı","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["36ed01cf.c785be"]]},{"id":"21f4a40b.cf43bc","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.hamsuDepoSeviye","pt":"msg","to":"45","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":220,"wires":[["a847f099.0f02c"]]},{"id":"a847f099.0f02c","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.temizsuDepoSeviye","pt":"msg","to":"95","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":260,"wires":[["d1a3449d.a3b038"]]},{"id":"53456b04.2bb584","type":"catch","z":"95f9deea.34dd2","name":"","scope":null,"uncaught":false,"x":80,"y":640,"wires":[["9ce69afe.501538"]]},{"id":"9ce69afe.501538","type":"switch","z":"95f9deea.34dd2","name":"","property":"error.message","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":640,"wires":[["b1680b76.28fff8"]]},{"id":"b1680b76.28fff8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.tesisDurumu","pt":"msg","to":"Bilinmiyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":640,"wires":[["92f3a5cd.5d97c8"]]},{"id":"3a967f2d.2f3e","type":"firebase out","z":"95f9deea.34dd2","name":"","ref":"Tesis Verileri/Deneme Tesis","operation":"set","admin":"edb97f0a.5aae4","x":900,"y":640,"wires":[["984cc69a.4b5a38"]]},{"id":"92f3a5cd.5d97c8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.Adi","pt":"msg","to":"Deneme Tesis","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":640,"wires":[["3a967f2d.2f3e"]]},{"id":"edaa510d.95cdd","type":"function","z":"95f9deea.34dd2","name":"","func":"\n    msg.payload = {\n        \"to\":\"/topics/allDevices\",\n        \"data\":{\n            \"title\":\"Deneme Tesis\",\n            \"message\":\"Bağlantı hatası!\" \n        }\n    }\n    return msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["d5703aee.3a8018"]]},{"id":"d5703aee.3a8018","type":"fcm-push","z":"95f9deea.34dd2","name":"","x":470,"y":700,"wires":[]},{"id":"984cc69a.4b5a38","type":"trigger","z":"95f9deea.34dd2","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":100,"y":700,"wires":[["edaa510d.95cdd"]]},{"id":"50754c84.514244","type":"trigger","z":"95f9deea.34dd2","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":760,"y":440,"wires":[["27f65c9b.6b37c4"]]},{"id":"25874f4a.01874","type":"function","z":"95f9deea.34dd2","name":"","func":"msg.payload = {\n        \"to\":\"/topics/allDevices\",\n        \"data\":{\n            \"title\":\"Deneme Arıtma\",\n            \"message\":\"Motor 1 arızalandı! Konrol ediniz!\" \n        }\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":480,"wires":[["fbeb3331.07b7a"]]},{"id":"25d25c19.308804","type":"trigger","z":"95f9deea.34dd2","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":760,"y":480,"wires":[["25874f4a.01874"]]},{"id":"d83804b0.88d968","type":"trigger","z":"95f9deea.34dd2","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":760,"y":520,"wires":[["fb8c439f.06a52"]]},{"id":"eb1b1bf3.38c4b8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.tesisDurumu","pt":"msg","to":"Tesis Çalışmıyor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":20,"wires":[["a3042325.27444"]]},{"id":"f310062a.4681a8","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.arizaDurumu","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":360,"wires":[["f9963faf.5a401"]]},{"id":"90ff8969.c83f68","type":"firebase out","z":"95f9deea.34dd2","name":"","ref":"Tesisler/Deneme Tesis/arizaDurumu","operation":"set","admin":"edb97f0a.5aae4","x":950,"y":800,"wires":[[]]},{"id":"c01299e7.6acf08","type":"s7 in","z":"95f9deea.34dd2","endpoint":"f05c864a.df3318","mode":"all","variable":"tesisDurumu","diff":true,"name":"","x":140,"y":80,"wires":[["b048caaf.5a6a88"]]},{"id":"7316f8bd.205988","type":"s7 in","z":"95f9deea.34dd2","endpoint":"f05c864a.df3318","mode":"single","variable":"arizaDurumu","diff":true,"name":"","x":310,"y":800,"wires":[["b975eb11.e92978"]]},{"id":"589d5061.90b8f","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":800,"wires":[["90ff8969.c83f68"]]},{"id":"b975eb11.e92978","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":800,"wires":[["589d5061.90b8f"],["e2747104.cfbe6"]]},{"id":"e2747104.cfbe6","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":840,"wires":[["90ff8969.c83f68"]]},{"id":"d1a3449d.a3b038","type":"switch","z":"95f9deea.34dd2","name":"","property":"payload.arizaDurumu","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":970,"y":320,"wires":[["6b3df6b.4592208"],["f310062a.4681a8"]]},{"id":"6b3df6b.4592208","type":"change","z":"95f9deea.34dd2","name":"","rules":[{"t":"set","p":"payload.arizaDurumu","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":320,"wires":[["f9963faf.5a401"]]}]